.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    background-color: teal;
    padding: 10px;
    border: none;
    color: white;
    transition: transform 1s ease, background-color 1s;
}

.form__button:hover {
    transform: scale(1.2);
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
    .form__button:hover {
        transform: scale(1.1);
    }
}