.tasks {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    word-break: break-word;
}

.tasks__item--hidden {
    display: none;
}

.tasks__button {
    background-color: green;
    width: 30px;
    height: 30px;
    border: none;
    transition: background-color 0.5s;
}

.tasks__button:hover {
    background-color: rgb(0, 170, 0);
}

.tasks__button:active {
    background-color: rgb(9, 218, 9);
}

.tasks__button--done {
    background-color: rgb(9, 140, 9);
    color: white;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button--remove {
    background-color: rgb(174, 3, 3);
    color: white;
}

.tasks__button--remove:hover {
    background-color: hsl(0, 97%, 45%);
}

.tasks__button--remove:active {
    background-color: hsl(0, 97%, 50%);
}